<h1 style="text-align: center; color: #02202b;">Edit issue</h1>

<%# busca el archivo y pega el diseño de @issue %>
<%= render "form", issue: @issue %>

<br>

<div>
  <%= link_to "Show this issue", @issue %> |
  <%= link_to "Back to issues", issues_path %>
</div>