<div id="<%= dom_id deadline_shortcut %>">
  <p>
    <strong>Name:</strong>
    <%= deadline_shortcut.name %>
  </p>

  <p>
    <strong>Offset days:</strong>
    <%= deadline_shortcut.offset_days %>
  </p>

</div>
