<p style="color: green"><%= notice %></p>

<h1>Severities</h1>

<div id="severities">
  <% @severities.each do |severity| %>
    <%= render severity %>
    <p>
      <%= link_to "Show this severity", severity %>
    </p>
  <% end %>
</div>

<%= link_to "New severity", new_severity_path %>
